.wishlist{


    h6{
        /* T1_14 */
        color: rgb(111, 118, 130);
        font-family: PT Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 45px;
    }

    h2{
        /* H1_35 */
        color: rgb(21, 36, 79);
        font-family: PT Sans;
        font-size: 35px;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 60px;
        margin-bottom: 80px;
    }

    .products{
          display: flex;
          align-items: start;
          gap: 141px;

        .pages{
            width: 190px;
            height: 290px;
            display: flex;
            justify-content: space-between;

             .text{
                display: flex;
                flex-direction: column;
                gap: 20px;

             
            p{
                /* T4_16 */
                color: rgb(111, 118, 130);
                font-family: PT Sans;
                font-size: 16px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0%;
                text-align: left;
                cursor: pointer;
            

                &:hover{
                    /* /T3_16_Bold */
                    color: rgb(71, 152, 222);
                    font-family: PT Sans;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 21px;
                    letter-spacing: 0%;
                    text-align: left;
                }
            }
            
        }
        img{
            width: 4px;
            height: 45px;
        }
        }

        .wishs{
            width: 960px;
            display: grid;
            grid-template-columns: repeat(3,1fr);

            gap: 32px;

        
        .wish-prod{
            width: 300px;
            height: 400px;
         
            
           
              
            &:hover{
                cursor: pointer;
                box-shadow: 1px 2px 4px 0px black;
                
              }
           
     
               img{
                 width: 100%;
                 height: 216px;
             

               }
     
               .product-content{
                 padding: 9px 30px 20px 30px;
     
                 h5{
                      margin-bottom: 9px;
                     color: rgb(111, 118, 130);
                     font-family: PT Sans;
                     font-size: 14px;
                     font-weight: 400;
                     line-height: 18px;
                     letter-spacing: 0%;
                     text-align: left;
                 }
                 h6{
                     font-family: PT Sans;
                     font-size: 13px;
                     font-weight: 400;
                     line-height: 18px;
                     letter-spacing: 0%;
                     text-align: left;
                   
                 }
                 p{
                     color: rgb(71, 152, 222);
                     font-family: PT Sans;
                     font-size: 13px;
                     font-weight: 400;
                     line-height: 17px;
                     letter-spacing: 0%;
                     text-align: left;
                     margin-top: 9px;
                    
                 }
                 h4{
                     color: rgb(21, 36, 79);
                     font-family: PT Sans;
                     font-size: 22px;
                     font-weight: 700;
                     line-height: 28px;
                     letter-spacing: 0%;
                     text-align: left;
                     margin-top: 18px;
                     margin-bottom:19px;
                 }
     
                 .shop{
                   display: flex;
     
                   gap: 37px;
     
                 
                 button{
                     width: 140px;
                     height: 40px;
                     border-radius: 5px;
                     background-color: rgb(71, 152, 222);
                     border-style: none;
                     color: rgb(255, 255, 255);
                     font-family: PT Sans;
                     font-size: 16px;
                     font-weight: 700;
                     line-height: 21px;
                     letter-spacing: 0%;
                     text-align: center;
     
                     &:hover{
                       box-shadow: 1px 2px 2px 1px black;
                     }
                 }
     
                 .icons{
                   display: flex;
                   align-items: center;
     
     
                   .img1{
                     width: 25px;
                     height: 25px;
                   }
                   .img2{
                     width: 30px;
                     height: 30px;
                   }
                 }
               }
     
               }
          }
        }
    }
}